/****************Header****************/
html, body {
  min-height: 100%;
}

body{
  background-image: linear-gradient(to left top, #003164, #002758, #001d4d, #001441, #010536);
  text-align: center;
  color: white;
}

/************************Templates******************************/
.copyright{
  width: 75%;
  margin: auto;
}

/************************Home******************************/
.walls{
  width: 75%;
  margin: 2.5% auto;
}

form{
  margin: 5% auto;
}

.brand{
  width: 200px;
  height: 175px;
}

.box{
  width: 65%;
  height: 50px;
  margin: 0 13.5%;
  border-radius: 25px;
  background: transparent;
  color: #003164;
  border: white solid;
}

input[type="text"] {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: white;
}

input[type="text"]:focus{
  outline: none;
  border: white solid;
}

input[type="text"]::placeholder{
  color: white;
  opacity: 60%;
}

.submit{
  width: 150px;
  height: 45px;
  border-radius: 5px; 
  background-color: white;
  color: #001441;
  font-size: 20px; 
  border: none;
  margin: 2.5%;
}

.quote{
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  margin-bottom: 7.5%;
}

.quote h3{
  font-weight: 100;
  margin: 0;
}

.quote p{
  font-weight: 600;
  margin: 2.5px;
}

/****************************Err*******************************/
.try{
  width: 75%;
  margin: 5% auto;
}

/****************************Results*******************************/
.resultbox{
  width: 75%;
  height: 500px;
  margin: 5% auto;
  margin-left: 20.25%;
  position: relative;
}

.imagebox{
  width: 35%;
  height: 100%;
  position: absolute;
}

.info{
  width: 65%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: left;
}

.info .submit{
  margin: 0;
}

.link{
  font-size: 25px;
  text-decoration: none;
  color: wheat;
}

.link h2{
  margin: 0;
  margin-top: 5%;
}

.details{
  font-size: 20px;
}

.ratings{
  margin-top: 2%;
}

.plot{
  width: 80%;
}

.img{
  width: 75%;
  margin-top: 1.5%;
}

/****************************Media-Quries*******************************/
@media (min-width : 240px) and (max-width:850px){
  /***home****/
  .brand{
    width: 150px;
    height: 125px;
  }

  .walls{
    width: 90%;
  }

  .box{
    width: 100%;
    margin: auto;
  }

  input[type="text"]{
    font-size: 18px;
  }

  .submit{
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-top: 7.5%;
  }

  .quote{
    font-size: 15px;
    margin: 15% auto;
  }

  /****err***/
  .gif{
    width: 100%;
  }

  /****Results***/
  .resultbox{
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
  }

  .info{
    position: static;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
  }

  .imagebox{
    position: static;
    margin: auto;
    width: 75%;
  }

  .img{
    width: 80%;
    height: auto;
  }

  .plot{
    width: 100%;
  }
}

@media (min-width:650px) and (max-width : 850px){
  .imagebox{
    width: 50%;
  }
}

@media (min-width:850px) and (max-width : 1300px){
  .img{
    margin: 0;
    margin-top: 10%;
    width: 90%;
  }

  .plot{
    width: 100%;
  }
}

@media (min-width:1000px) and (max-width : 1300px){
  .img{
    width: 80%;
  }
}