<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Cinema!</title>
    <link rel="icon" href="https://m.media-amazon.com/images/M/MV5BNjIyZDAwYmUtZDM3MC00ODVmLWFkYTEtMzJlMGVlNjI2YjEwXkEyXkFqcGdeQXVyMTUwMDM2NTYw._V1_FMjpg_UX1000_.jpg">
    <link rel="stylesheet" href="imdb.css">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>