<%-include('header.ejs');-%>
<body>
    <div class="walls">
        <div class="brandname">
            <img class="brand" src="https://m.media-amazon.com/images/M/MV5BNjIyZDAwYmUtZDM3MC00ODVmLWFkYTEtMzJlMGVlNjI2YjEwXkEyXkFqcGdeQXVyMTUwMDM2NTYw._V1_FMjpg_UX1000_.jpg">
            <h1>This-is-Cinema!</h1>
        </div>
        <form action="/" method="post">
            <input class="box" type="text" name="title" placeholder="Enter Movie/Tv-Series Name">
            <button class="submit" type="submit">Get Cinema</button>
        </form>
        <div class="quote">
            <h3><%=quote%></h3>
            <p>-<%=moviename%></p>
        </div>
    </div>
</body>
<%-include('footer.ejs');-%>