<%-include('header.ejs');-%>
<body>
    <div class="walls">
        <div class="brandname">
            <img class="brand" src="icons/logo.png">
        </div>
        <form action="/" method="post">
            <input class="box" type="text" name="title" placeholder="Enter Movie/Tv-Series Name">
            <button class="submit" type="submit">Get Cinema</button>
        </form>
        <div class="quote">
            <h3><%=quote%></h3>
            <p>-  <%=moviename%></p>
        </div>
    </div>
</body>
<%-include('footer.ejs');-%>