<%-include('header.ejs');-%>
    <body>
        <div class="try">
            <h1 class="tryagain">Can't read 'Klingon Language' Write it in english</h1><br>
            <img class="gif" src="https://i.pinimg.com/originals/ad/db/44/addb44791f963dda456b3e7a37c9d46c.gif">
            <p class="gifmovie">-Taxi Driver (1976)</p>
        </div>
    </body>
<%-include('footer.ejs');-%>
